---
layout: default
permalink: /management
title: Management
---


<!-- Conference Organization -->
<div class="container">
	<div class=""><h2>Conference Organization</h2>
		<div class="row service-v1 margin-bottom-40">
            {% for litem in site.data.conferences %}
				<div class="col-md-4 md-margin-bottom-40">
					<h3>{{litem.name}}</h3>
					<img class="img-responsive" src="images/{{litem.image}}" alt="">
					<p align="justify">{{litem.description}}</p>
					<p align="justify">For more information, check the <a href="{{litem.urlink}}">conference website</a>.</p>
				</div>
			{% endfor %}
        </div>
	</div>
</div>


<!-- Social Clubs -->
<div class="container">
	<div class=""><h2>Clubs Membership</h2>
		<div class="row service-v1 margin-bottom-40">
            {% for litem in site.data.clubs %}
				<div class="col-md-4 md-margin-bottom-40">
					<h3>{{litem.name}}</h3>
					<!-- <img class="img-responsive" src="images/{{litem.image}}" alt=""> -->
					<p align="justify">{{litem.description}}</p>
					<p align="justify">For more information, check the <a href="{{litem.urlink}}">club page</a>.</p>
				</div>
			{% endfor %}
        </div>
	</div>
</div>