---
layout: default
permalink: /management
title: Management
---


<div class="container">
    <div class="intro-text">
        <h2>Under construction...</h2>
        <p>Updated at 14h20 of July 6th</p>
        <a href="https://www.cienciavitae.pt/portal/2A15-97E9-C7D5" class="page-scroll btn btn-xl">More info</a>
    </div>
</div>




<!-- Conference Organization -->
<div class="container">
	<div class=""><h2>Conference Organization</h2>
		<div class="row service-v1 margin-bottom-40">
            {% for litem in site.data.conferences %}
				<div class="col-md-4 md-margin-bottom-40">
					<h3>{{litem.name}}</h3>
					<img class="img-responsive" src="images/{{litem.image}}" alt="">
					<p>{{litem.description}}</p>
					<p>For more information, check the <a href="{{litem.urlink}}">conference website</a>.</p>
				</div>
			{% endfor %}
        </div>
	</div>
</div>


<!-- Social Clubs -->
<div class="container">
	<div class=""><h2>Clubs Membership</h2>
		<div class="row service-v1 margin-bottom-40">
            {% for litem in site.data.clubs %}
				<div class="col-md-4 md-margin-bottom-40">
					<h3>{{litem.name}}</h3>
					<!-- <img class="img-responsive" src="images/{{litem.image}}" alt=""> -->
					<p>{{litem.description}}</p>
					<p>For more information, check the <a href="{{litem.urlink}}">club page</a>.</p>
				</div>
			{% endfor %}
        </div>
	</div>
</div>