---
layout: default
permalink: /science
title: Science
---

<!-- Preprints -->
<div class="container">
	<div class=""><h2>Preprints</h2>
		<div class="panel-group" id="accordion-alt3">
			{% for litem in site.data.preprints %}
				<div class="panel">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-alt3" href="#{{litem.id}}">
							<i class="fa fa-angle-right"></i> {{litem.title}} </a>
						</h4>
					</div>
					<div id="{{litem.id}}" class="panel-collapse collapse">
						<div class="panel-body">
							<p><strong>Authors:</strong> <em>{{litem.authors}}</em></p>
							<p align="justify"><strong>Abstract:</strong> {{litem.abstract}}</p>
							<a href="{{litem.urlink}}" class="btn btn-color">Available Here</a>
						</div>
					</div>
				</div>			
			{% endfor %}
		</div>
	</div>	
</div>

<!-- Published Papers -->
<div class="container">
	<div class=""><h2>Published Work</h2>
		<div class="panel-group" id="accordion-alt3">
			{% for litem in site.data.published %}
				<div class="panel">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-alt3" href="#{{litem.id}}">
							<i class="fa fa-angle-right"></i> {{litem.title}}. Published at <emph>{{litem.journal}}</emph>. [{{litem.date}}] </a>
						</h4>
					</div>
					<div id="{{litem.id}}" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="col-lg-6">
								<img src="../images/publications/{{litem.image}}" alt="">
								<div class="space">{{litem.credits}}</div>
							</div>
							<div class="col-lg-6">
								<p><strong>Authors:</strong> <em>{{litem.authors}}</em></p>
								<p align="justify"><strong>Abstract:</strong> {{litem.abstract}}</p>
								<a href="{{litem.urlink}}" class="btn btn-color">Available Here</a>
							</div>												
						</div>
					</div>
				</div>			
			{% endfor %}
		</div>
	</div>
</div>


<!-- Talks -->
<div class="container">
	<div class=""><h2>Talks</h2></div>
	<!-- <ul class="portfolio-categ filter">
		<li class="all active"><a href="/">All</a></li>
		<li class="Invited"><a href="#" title="">Invited</a></li>
		<li class="Contributed"><a href="#" title="">Contributed</a></li>
	</ul>
	<div class="clearfix">
	</div>-->
	<ul id="thumbs" class="list-unstyled portfolio">
		{% for litem in site.data.talks %}
			<li class="item-thumbs" data-type="{{litem.role}}"><i class="fa fa-arrow-circle-right pr-10 colored"></i> {{litem.date}}, <em>{{litem.title}}</em>, {{litem.role}} Talk, <a href="{{litem.confwebpage}}"> {{litem.conference}} </a></li>
		{% endfor %}
	</ul>
</div>


<!-- Posters -->
<div class="container">
	<div class=""><h2>Posters</h2></div>
	<!-- <ul class="portfolio-categ filter">
		<li class="all active"><a href="/">All</a></li>
		<li class="Invited"><a href="#" title="">Invited</a></li>
		<li class="Contributed"><a href="#" title="">Contributed</a></li>
	</ul>
	<div class="clearfix">
	</div>-->
	<ul id="thumbs" class="list-unstyled portfolio">
		{% for litem in site.data.posters %}
			<li class="item-thumbs"><i class="fa fa-arrow-circle-right pr-10 colored"></i> {{litem.date}}, <em>{{litem.title}}</em>, <a href="{{litem.confwebpage}}"> {{litem.conference}}</a>. In collaboration with {{litem.authors}}. {{litem.note}}</li>
		{% endfor %}
	</ul>
</div>