---
layout: default
permalink: /teaching
title: Teaching
---

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Teaching</h2>
			</div>
		</div>
	</div>
</section>

<div class="container">
    <div class="intro-text">
        <h2>Under construction...</h2>
        <p>Updated at 14h20 of July 6th</p>
        <a href="https://www.cienciavitae.pt/portal/2A15-97E9-C7D5" class="page-scroll btn btn-xl">More info</a>
    </div>    
</div>

<!-- Teaching Assistant -->
<div class="container">
	<div class="aligncenter"><h1 class="aligncenter">Teaching Assistant</h1>
		<div class="panel-group" id="accordion-alt3">
			{% for teach in site.data.taroles %}
				<div class="panel">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-alt3" href="#{{teach.id}}">
							<i class="fa fa-angle-right"></i> {{teach.discipline}} </a> 
						</h4>
					</div>
					<div id="{{teach.id}}" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="col-lg-6">
								<p align="left">{{teach.semester}}</p>
							</div>
							<div class="col-lg-6">
								<p align="right"><strong>{{teach.university}}</strong></p>
							</div>
							<p align="justify">{{teach.description}}</p>			
						</div>
					</div>
				</div>			
			{% endfor %}
		</div>
	</div>
</div>


<!-- Outreach -->
<div class="container">
	<div class="aligncenter"><h1 class="aligncenter">Outreach</h1>
		<div class="panel-group" id="accordion-alt3">
			{% for teach in site.data.outreach %}
				<div class="panel">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-alt3" href="#{{teach.id}}">
							<i class="fa fa-angle-right"></i> {{teach.event}} </a>
						</h4>
					</div>
					<div id="{{teach.id}}" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="col-lg-6">
								<p align="left">{{teach.dates}}</p>
							</div>
							<div class="col-lg-6">
								<p align="right"> <strong>{{teach.university}}</strong></p>
							</div>
							
							<p align="justify">{{teach.description}}</p>
						</div>
					</div>
				</div>			
			{% endfor %}
		</div>
	</div>
</div>
