---
layout: default
permalink: /teaching
title: Teaching
---

<!-- Teaching Assistant -->
<div class="container">
	<div class=""><h2>Teaching Assistant</h2>
		{% for lsem in site.data.taroles %}
			<div class=""><h3>{{lsem.year}}</h3>
				<div class="row">
					{% if lsem.details %}
					<p>{{ lsem.details }}</p>
					{% endif %}
					<div class="skill-home">
						{% for litem in lsem.classes %}
							<div class="col-md-3 text-center">
								<span class="icons {{litem.color}}"><i class="fa {{litem.icon}}"></i></span> 
								<div class="textbox">
									<h4>{{litem.title}}</h4>
									<h5>{{litem.codes}}</h5>
									<p><strong>{{litem.university}}</strong></p>
									<em>Role:</em> {{litem.role}}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}

		<div class="row">
			{% for litem in site.data.monitor %}
			<div class=""><h3>{{litem.year}}</h3></div>
			<div class="skill-home">
				<div class="col-md-3 text-center">						
					<span class="icons {{litem.color}}"><i class="fa {{litem.icon}}"></i></span> 
					<div class="textbox">
						<h4>{{litem.title}}</h4>
						<h5>{{litem.codes}}</h5>
						<p><strong>{{litem.university}}</strong></p>
						<em>Role:</em> {{litem.role}}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</div>


<!-- Outreach -->
<div class="container">
	<div class=""><h2>Outreach</h2>
		{% for litem in site.data.outreach %}
			<div class="col-lg-6">
				<div class="textbox">
					<h4>{{litem.event}}</h4>
					<p align="left">{{litem.dates}}</p>
					<p align="right"> <strong>{{litem.university}}</strong></p>
					<p align="justify">{{litem.description}}</p>
				</div>
			</div>	
		{% endfor %}
	</div>
</div>