<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="widget">
                    <h5 class="widgetheading">Contact</h5>
                    <address>
					<strong>Católica Biomedical Research Centre (CBR)</strong><br>
                    Rua da Quinta Grande 6<br>2780-156 Oeiras, Portugal</address>
					<p>
						<!-- <i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br> -->
						<i class="icon-envelope-alt"></i> fxcosta@ucp.pt
					</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="widget">
					<h5 class="widgetheading">Quick Links</h5>
					<ul class="link-list">
						<li><a href="https://scholar.google.com/citations?user=3eu2_bAAAAAJ&hl=en">Google Scholar</a></li>
						<li><a href="https://www.cienciavitae.pt/portal/2A15-97E9-C7D5"><strong>CIÊNCIA</strong>VITAE</a></li>
                        <li><a href="https://www.cienciavitae.pt/portal/2A15-97E9-C7D5">LinkedIn</a></li>
						<li><a href="https://casci.binghamton.edu/">Complex Adaptive Systems and Computational Intelligence Lab</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Felipe Xavier Costa All right reserved.
						</p>
                        <p>
							Template By </span><a href="http://webthemez.com" target="_blank">WebThemez</a>
                        </p>
					</div>
				</div>
				<div class="col-lg-6">
                    <div class="widget">
                        Last Updated July 2025
                    </div>
                    <!--<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Bluesky"><i class="fa fa-blu"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>-->
				</div>
			</div>
		</div>
	</div>
	</footer>