<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="page-top" class="index">
    {% include header.html %}

    <div class="intro-text">In construction...</div>
    <p>Updated at 20h50 of July 5th</p>

    <section class="cf team-container black-frame">
        {% for section in site.data.sections %}
            <h1 class="team-h1">{{ section.title}}</h1>
            <span>{{ section.description }}</span>
            <div class="team-member">
                <img class="team-photo" src="../css/img/{{ section.image }}">                
                <!-- <a class="contact" href="{{ section.link }}"> <h3>Read more</h3> </a> -->
            </div> 
        {% endfor %} 
    </section>
    
    <!-- Homepage Carousel 
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
        </ol>
        
        <div class="carousel-inner">
            <div class="active item">
                <div class="caption zoomIn wow animated">
                    <h2>SCIENCE<br/><strong>Understanding the patterns of complexity in nature</strong></h2>
                </div>
                <img class="" src="../img/fxc_science.jpg" alt="">
            </div>

            <div class="item">
                <div class="caption zoomIn wow animated">
                    <h2>TEACHING<br/><strong>Sharing knowledge to the next generations</strong></h2>
                </div>
                <img class="" src="../img/fxc_teaching.jpeg" alt="">
            </div>

            <div class="item">
                <div class="caption zoomIn wow animated">
                    <h2>TECHNOLOGY<br/><strong>Developping softwares and robotics for science and art</strong></h2>
                </div>
                <img class="" src="../img/casci_github.PNG" alt="">
            </div>

            <div class="item">
                <div class="caption zoomIn wow animated">
                    <h2>MANAGEMENT<br/><strong>Organizing scientific events and social clubs</strong></h2>
                </div>
                <img class="" src="../img/netbiomed_program.PNG" alt="">
            </div>

        </div>        
        <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
    </div> -->

    <!-- OTHER -->
    

  </body>
</html>
