<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        {% for post in site.data.sections %}
            <div class="carousel-inner">
                <div class="active item">
                    <div class="caption zoomIn wow animated">
                        <h2>{{post.title}}<br/><strong>{{post.description}}</strong></h2>
                    </div>
                    <img class="" src="../css/img/{{post.image}}" alt="">
                </div>
            </div>
        {% endfor %}
    </div>

  </body>
</html>
