<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <h1>In construction...</h1>
    <p>Updated at 12h25 of July 5th</p>

    <!-- Homepage Carousel -->
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for post in site.data.sections %}
                <li data-target="#carousel" data-slide-to="{{post.id}}"></li>
            {% endfor %}
        </ol>
        
        <div class="carousel-inner">
            {% for post in site.data.sections %}
                <div class="item">
                    <div class="caption zoomIn wow animated">
                        <h2>{{post.title}}<br/><strong>{{post.description}}</strong></h2>
                    </div>
                    <img class="" src="../img/{{post.image}}" alt="">
                </div>
            {% endfor %}
        </div>        
        <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
    </div>

    <!-- OTHER -->


  </body>
</html>
